# This is Git's per-user configuration file.
[user]
	email = frhdmehdiyev@gmail.com
	name = ferhadme
# Please adapt and uncomment the following lines:
#	name = ferhadme
#	email = frhdmehdiyev@gmail.com
