**/*~

.vanilla.emacs.d/auto-save-list
.vanilla.emacs.d/.cache
.vanilla.emacs.d/elpa
.vanilla.emacs.d/eshell
.vanilla.emacs.d/ido.last
.vanilla.emacs.d/.mc-lists.el
.vanilla.emacs.d/smex-items
.vanilla.emacs.d/snippets
.vanilla.emacs.d/transient
.vanilla.emacs.d/url
.vanilla.emacs.d/games
