source .vimrc

set scrolloff=5

set incsearch

map Q gq

set tabstop=4
set shiftwidth=4

sethandler <C-C> a:ide
sethandler <C-V> n-v:vim i:ide
sethandler <C-I> a:ide
sethandler <C-A> a:ide
sethandler <C-Z> a:ide

"https://jb.gg/share-ideavimrc
